body{
    padding: 0;
    margin: 0;
}

h1, h2, p, button{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

.container>p, .container>h1{
    text-align: center;
}

.container{
    width: 80%;
    min-height: 100%;
    background-color: rebeccapurple;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    animation: appearance 3s forwards ease-in;
    animation-delay: 2s;
}

.graphic{
    width: 300px;
    height: 470px;
}

.graphic img{
    width:100%;
    height: 100%;
    border-radius: 5px;
}

.hero{
    display: flex;
    gap: 10px;
    border-bottom: dotted rgba(255, 255, 255, 0.599) 2px;
}

.right-column{
    display: flex;
    flex-direction: column;
}

.ui img{
    width: 150px;
    height: 150px;
}

.illustration img{
    width: 300px;
    height: 150px;
}

.illustration{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main{
    margin-top: 50px;
    text-align: left;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left{
    width: 45%;
    height: 50%;
    margin-left: 20%;
}

.left img{
    width: 70%;
    margin: 0 auto;
    border-radius: 50%;
}

.right{
    width: 45%;
    padding-right: 20px;
}

button{
    padding: 10px;
    font-size: large;
    border-radius: 15px;
    background-color: rebeccapurple;
    box-shadow: 0 1px 1px white;
}



.work-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.work-img img{
    width: 300px;
    height: 300px;
}

.book-section{
    display: flex;
}

.book{
    position: relative;
    width: 70%;
    background-color: white;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
    border-radius: 10px;
    padding: 10px;
}

.book h2, .book p{
    color: rebeccapurple;
}

.book button{
    position: absolute;
    top: 50px;
    right: 0;
}

@keyframes appearance {
    0%{
        opacity: 0;
        transform: translateY(0);
    }

    50%{
        opacity: 0.5;
        transform: translateY(30px);
    }

    100%{
        opacity: 1;
        transform: translateY(50px);
    }
    
}

.fancy{
    display: flex;
    gap: 50px;

    
}

.dot{
    margin: 200px auto 50px auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    border: 1px inset rebeccapurple;

    animation: bloats 1s infinite linear;
}

@keyframes bloats {
0%{
    transform: scale(1);
}

25%{
    transform: scale(1.5);
}

50%{
    transform: scale(2.0);
}

75%{
    transform: scale(1.5);
}

100%{
    transform: scale(1);
}
    
}

.dot:nth-child(2){
    animation-delay: -0.3s;
    animation-duration: 1.3s;
}

.dot:nth-child(3){
    animation-delay: -0.5s;
    animation-duration: 1.5s;
}