
        body{
            width: 1024px;
            margin-top: 100px;
            margin-bottom: 100px;
            margin-left: auto;
            margin-right: auto;
            background-image: url(/MY-CODES/IMAGES/pexels-bookcollection.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            overflow: scroll;
        }


        a{
            text-decoration: none;
            color: yellow;
            margin-left: 100px;
            margin-right: 100px;
        }

        a:hover{
            color: white;
        }

        header{
            /*width: 1024px;*/
            /* background-color: red; */
            text-align: center;
            color: rgb(207, 207, 11);
            padding-top: 20px;
            padding-bottom: 20px;
        }

        nav{
            /*width: 1024px;*/
            text-align: center;
            padding-top: 5px;
            padding-bottom:5px;
            background-attachment: fixed;
            background-image: url(/MY-CODES/IMAGES/logo.png);   
        }

        main{
           /*width: 1024px;*/
            /* height: 400px; */
            background-color:rgba(120, 20, 20, 0.955);
            color: white;
            padding-bottom: 100px;
            padding-top: 100px;
            text-align: center;
        }

        p{
            text-shadow: 0 0 10px blue,
                         0 0 20px blue,
                         0 0 30px blue,
                         0 0 40px blue;
        }

        footer{
           /*width: 1024px;*/
            height: 100px;
            background-position-y: top;
            background-image: url(/MY-CODES/IMAGES/logo.png);  
        }

    