
        body{
            width: 512px;
            margin-left: auto;
            margin-right: auto;
            background-image: url(/IMAGES/reddishblack.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            overflow: scroll;
        }


        a{
            text-decoration: none;
            color: yellow;
            margin-left: 100px;
            margin-right: 100px;
        }

        a:hover{
            color: white;
        }

        header{
            /*width: 1024px;*/
            background-color: red;
            text-align: center;
            color: yellow;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        nav{
            /*width: 1024px;*/
            text-align: center;
            padding-top: 5px;
            padding-bottom:5px;
            background-attachment: fixed;
            background-image: url(/IMAGES/logo.png);   
        }

        main{
           /*width: 1024px;*/
            height: 400px;
            background-color:red ;
        }
        footer{
           /*width: 1024px;*/
            height: 100px;
            background-position-y: top;
            background-image: url(/IMAGES/logo.png);  
        }

    